$tablet: 768px;      
$tablet-pro: 1024px; 
$desktop: 1200px;
$large-desktop:	1440px;


.card {
    background-color: #fffdfa;
    border-radius: .5rem; 
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); 
    border: .5px solid #f0f0f0;
    text-align: left;

    display: flex;
    flex-direction: column;
    min-height: 500px;

    @media (min-width: $tablet) {
      padding: 2rem 4rem;
      margin: 2rem 0;
      min-height: 550px;
  }

  @media (min-width: $desktop) {
    margin: 1rem;
    padding: 2rem;
    width: 20rem;
    height: 38rem;
}
  }
  
  .categoryTitle {
    font-size: 1.5rem;
    color: #B89E7E; 
    padding-bottom: 1.5rem;
    font-family: 'Cormorant Garamond', serif; 
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    min-height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $tablet) {
      min-height: 5rem;
      font-size: 3rem;
  }
  @media (min-width: $desktop) {
    padding: 3rem;

}
  }
  
  .divider {
    border: none;
    border-top: 1px solid #B89E7E; 
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  .rowsContainer {
    display: flex;
    flex-direction: column;
  }